@import url('https://fonts.googleapis.com/css?family=Lato|Playfair+Display');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display');
body{
	background-color: #fff;
	color: #5E3E2A;
}
header{
}
.header-list{
	font-family: 'Lato', sans-serif;
	font-size: 17px;
	font-weight: 400;
	text-transform: uppercase;
	color: #5E3E2A;
}

.header-list a{
	color: #5E3E2A;
}
.header-list a:hover{
	color: #E67631;
}

.header-list>.slogun{
	font-size: 30px;
	font-family: 'Playfair Display', serif;
}
.header-socials  p{
	color: #5E3E2A;
	font-size: 17px;
	font-weight: 400;
	text-transform: uppercase;
}
.header-socials a{
	color: #5E3E2A;
	font-size: 17px;
	font-weight: 400;
	text-transform: uppercase;
}
.header-socials a:hover{
	color: #E67631;
}
.header-socials a i{
	font-size: 40px;
}
.header-socials a i:hover{
	color: #E67631;
}
/*END HEADER*/
.navbar{
	font-family: 'Lato', sans-serif !important;
	font-size: 17px !important;
	font-weight: 400;
	text-transform: uppercase;
	color: #5E3E2A !important;
}
.navbar ul li a{
	color: #5E3E2A !important;
}
.navbar ul li a:hover{
	color: #E67631 !important;
}
/*FOOTER*/
.jumbotron{
	height: auto;
	background-image: url(../img/footer-bg1.jpg);
	background-size: cover;
	opacity: .7;
	color: #000;
}
footer .navigation ul{
	padding-left: 0px !important;
}
.jumbotron p{
	font-size: 27px;
	font-family: 'Playfair Display', serif;
}
footer ul li{
	list-style-type: none;
}
footer ul li a{
	color: #5E3E2A !important;
	font-size: 14px;
	text-transform: uppercase;
}
footer ul li a:hover{
	color: #E67631 !important;
}
footer ul li a i{

	font-size: 40px;
	color: #5E3E2A;
}
footer ul li a i:hover{
	color: #E67631;
}
.map{
	border: 1px solid #ccc;
}
/*END FOOTER*/

