@import url('https://fonts.googleapis.com/css?family=Lato|Playfair+Display');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display');
body{
	background-color: #fff;
	color: #5E3E2A;
}
header{
}
.header-list{
	font-family: 'Lato', sans-serif;
	font-size: 17px;
	font-weight: 400;
	text-transform: uppercase;
	color: #5E3E2A;
}

.header-list a{
	color: #5E3E2A;
}
.header-list a:hover{
	color: #E67631;
}

.header-list>.slogun{
	font-size: 30px;
	font-family: 'Playfair Display', serif;
}
.header-socials  p{
	color: #5E3E2A;
	font-size: 17px;
	font-weight: 400;
	text-transform: uppercase;
}
.header-socials a{
	color: #5E3E2A;
	font-size: 17px;
	font-weight: 400;
	text-transform: uppercase;
}
.header-socials a:hover{
	color: #E67631;
}
.header-socials a i{
	font-size: 40px;
}
.header-socials a i:hover{
	color: #E67631;
}
/*END HEADER*/
.navbar{
	font-family: 'Lato', sans-serif !important;
	font-size: 17px !important;
	font-weight: 400;
	text-transform: uppercase;
	color: #5E3E2A !important;
	margin-bottom:5px !important;
}
.navbar ul li a{
	color: #5E3E2A !important;
}
.navbar ul li a:hover{
	color: #E67631 !important;
}
<<<<<<< HEAD
/*MAIN*/
#main{
	height: 850px;
	background: url(../img/bg1.jpg) no-repeat center center;
	-webkit-background-size: cover;
	background-size: cover;
	border-radius: 0;
	opacity: 0.7;
}
#main p{
	margin-top: 270px;
	font-family:'Lato', sans-serif !important;
	text-transform: uppercase;
	display: inline-block;
	color: #fff;
	font-size: 30px;

}
#main a{
	font-family:'Lato', sans-serif !important;
	text-transform: uppercase;
	display: inline-block;
	color: #fff;
	text-decoration: none;
	font-size: 30px;
	border: 1px solid #fff;
	padding: 4px 4px;
	background-color: #2D000D;
	border-radius: 5px;
	font-weight: 700;
	margin-top: 60px;
}
#main a:hover{
	color: #E67631;
}
/*ENDMAIN*/
/*ADVANTAGES*/
.adv p{
	font-size: 30px;
	font-weight: 600;
	font-family: 'Playfair Display', serif;
	text-transform: uppercase;
	margin-top: 30px;
}
.advantage p{

	font-family: 'Lato', sans-serif !important;
	font-weight: 500;
	font-size: 16px;
}
.advantage button{
	color: #fff;
	font-size: 18px;
	background-color: #2D000D;
	cursor: pointer;
}
.advantage button:hover{
	color: #E67631;
}
/*ENDADVANTAGES*/
/******************************************************GALLERY**************************************/

.gallery{
	margin-top: 30px;
	border-top: 1px solid #2D000D;
	border-bottom: 1px solid #2D000D;
	padding-bottom: 20px;
}

.gallery p{
	color: #2D000D;
	font-size: 30px;
	font-weight: 700;
	word-spacing: 2px;
	letter-spacing: 5px;
	line-height: 15px;
	font-family: 'PT+Sans', sans-serif !important;
	text-transform: uppercase;
	margin-top: 50px;
}

#block-for-slider {
	width: 90%;
	margin: 0 auto;
	margin-top: 50px;
}

#viewport {
	width: 100%;
	position: relative;
	overflow: hidden;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
	text-align: center;
}

#slidewrapper {
	/*position: relative;*/
	width: calc(100% * 4);
	-webkit-transition: 1s;
	-o-transition: 1s;
	transition: 1s;
	-webkit-transition-timing-function: cubic-bezier(.67,.01,.23,1);
	-o-transition-timing-function: cubic-bezier(.67,.01,.23,1);
	transition-timing-function: cubic-bezier(.67,.01,.23,1);
}

#slidewrapper, #slidewrapper ul, #slidewrapper li {
	margin: 0;
	padding: 0;
}

.slide {
	width: calc(100%/4);
	list-style: none;
	display: inline;
	float: left;
}

.slide-img {
	width: 100%;
}

#prev-btn, #next-btn {
	position: absolute;
	top: 150px;
background-color: rgba(0,0,0,.2);
	color: #f8f7f8;
	font-size: 2.5em;
	font-weight: bold;
}
.button {
	width: 64px;
	height: 64px;
	text-align: center;
	display: inline-block;
	margin-top: 80px;
	padding-top: 11px;
}
#prev-btn:hover, #next-btn:hover {
	cursor: pointer;
}

#prev-btn {
	left: 20px;
}

#next-btn {
	right: 20px;
}

#nav-btns {
	position: absolute;
	width: 100%;
	bottom: 20px;
	padding: 0;
	margin: 0;
	text-align: center;
}

.slide-nav-btn {
	position: relative;
	display: inline-block;
	list-style: none;
	width: 20px;
	height: 20px;
	background-color: #fff;
	border-radius: 50%;
	margin: 3px;
}

.slide-nav-btn:hover {
	cursor: pointer;
}
.gallery button{
	margin-top: 20px;
	width: 100%;
	background-color: #2D000D;
	color: #fff;
	font-size: 21px;
	text-transform: uppercase;
	height: 50px;
	margin-bottom: 20px;
	cursor: pointer;
}
.gallery button:hover{
	background-color: #CC9999;
}

/*****************************************END GALLERY*******************/
=======
/*CATEGORYMENU*/
.category-products{
	border: 1px solid #ccc;
	margin-bottom: 35px;
	padding-bottom: 20px;
	padding-top: 18px;
}
ul.category-products{
	padding-left: 10px;
}
.category-products ul{
	padding-left: 30px;
}
.category-products li{
	padding: 5px 0px 5px 10px;
	list-style-type: none;
}
.category-products li a{
	font-family: 'Lato', sans-serif !important;
	font-size: 16px !important;
	font-weight: 400;
	text-transform: uppercase;
	color: #5E3E2A !important;
}
/*ENDCATEGORYMENU*/
>>>>>>> 7e26df3666202ea44e4a228698b885d3f3804d99
/*FOOTER*/
.jumbotron{
	height: auto;
	background-image: url(../img/footer-bg1.jpg);
	background-size: cover;
	opacity: .7;
	color: #000;
}
footer .navigation ul{
	padding-left: 0px !important;
}
.jumbotron p{
	font-size: 27px;
	font-family: 'Playfair Display', serif;
}
footer ul li{
	list-style-type: none;
}
footer ul li a{
	color: #5E3E2A !important;
	font-size: 14px;
	text-transform: uppercase;
}
footer ul li a:hover{
	color: #E67631 !important;
}
footer ul li a i{

	font-size: 40px;
	color: #5E3E2A;
}
footer ul li a i:hover{
	color: #E67631;
}
.map{
	border: 1px solid #ccc;
}
/*END FOOTER*/

